body {
  padding: 20px;
}
table {
  background-color: gray;
  border-spacing: 0px;
}
td {
  border: 1px solid blanchedalmond;
  height: 20px;
  width: 20px;
}
td.martwa {
  background-color: transparent;
}
td.żywa {
  background-color: white;
}
